@import url('https://fonts.googleapis.com/css2?family=Skranji:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap');

body {
    margin: 0;
    font-family: 'Cinzel', serif;
    font-weight: 400 !important;
}

.main {
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100vh;
    background-size: cover !important;
    background-color: #FF819E !important;
}

#main-wrapper {
    background: url('/personal_page/img/main.gif') center;
}

#tg-wrapper {
    background: url('/personal_page/img/tg.gif') center;
}

#github-wrapper {
    background: url('/personal_page/img/gh.gif') center;
}

#vk-wrapper {
    background: url('/personal_page/img/vk.gif') center;
}

#layout-opacity {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
}

#menu-wrapper {
    display: flex;
    align-content: center;
    flex-direction: row;
}

#menu {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10rem;
}

.link-wrapper p {
    font-size: 2rem;
    color: white;
}

.link-container {
    border: 1px solid transparent;
    border-radius: 30px;
    padding: 0 0.5rem 0;
    display: flex;
    justify-content: center;
    transition: 0.2s;
}

.link-container:hover {
    border: 1px solid white;
}

.logo-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.logo {
    width: 10rem;
    -moz-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    -webkit-transition: all 0.1s ease-out;
    opacity: 0.75;
}

.logo:hover {
    opacity: 1;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

@media (max-width: 768px) {
    #menu {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1.5rem;
    }

    .link-wrapper p {
        font-size: 1.5rem;
        color: white;
    }

    .logo {
        width: 7rem;
    }
}

p, h1 {
    text-shadow: -.0625rem -.0625rem 0 #6BFFFF, .0625rem .0625rem 0 #FF819E;
}

h1 {
    font-weight: 400 !important;
    /*font-family: 'Skranji', cursive;*/
    color: #ffffff;
    font-size: 2rem;
}

.footer-wrapper-wrapper {
    position: absolute;
    bottom: 0;
    width: 80%;

}

.footer-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: 10%;
}

.footer-container h1 {
    letter-spacing: 1rem !important;
}

@media (max-width: 425px) {
    .logo {
        width: 5rem;
    }

    .footer-container h1 {
        letter-spacing: 0.4rem !important;
    }
}

a {
    color: transparent;
    text-decoration: none;
}
